// Ekini colors

@white: #ffffff;
@whiter-gray: #e3e3e3;
@white-gray: #d5d5d5;
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #333434;
@very-dark-gray: #1d1d1d;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
// @green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

// @white: #c9c9bb;
@blueGray: #6c8b9f;
@blueGrayDark: #4e5d62;
@blueLight: #96CBFE;
@green: #2e3330;
@greenLight: #6a9875;
@greenBright: #A8FF60;
@greenDark: #222624;
@greenMediumDark: #292e2b;
// @greenMedium: lighten(@greenDark, 10%);
@greenMedium: #49514d;
@orangeLight: #E9C062;
@orangePink: #CC6666;
@black: #000709;
